footer
    small
        p.
            Except where otherwise noted, content on this site is licensed under
            #[a(rel='license', href='http://creativecommons.org/licenses/by/4.0/') CC BY 4.0]
            and source code under
            #[a(rel='license', href='http://opensource.org/licenses/MIT') MIT License (Expat)].
