@import '../../../node_modules/normalize.css/normalize.css';
.h-card h1 {
  font-size: 11rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.h-card > p {
  color: #777;
  font-size: 3.8em;
  margin-top: 0.2rem;
  margin-bottom: 2rem;
  text-align: right;
}
.h-card .p-category {
  color: #555;
  font-size: 4rem;
  font-weight: 500;
}
footer {
  font-size: 0.8rem;
  position: absolute;
  bottom: 0px;
}
footer img[alt='Creative Commons License'] {
  border-width: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
