<footer>
    <small>
        Except where otherwise noted, content on this site is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        CC BY 4.0 License</a>
        and source code is licensed under the
        <a rel="license" href="http://opensource.org/licenses/MIT">MIT License (Expat)</a>.
    </small>
</footer>