<!DOCTYPE html>
<html lang="en" data-rev="{{timestamp}}">
    <head>
        <meta charset="utf-8">
        <title>James Benner: CV</title>
        <link rel="canonical" href="http://jamesbenner.com/">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="main.css">
        {{> vcard-jsonld }}
    </head>
    <body>
        {{{content}}}
        {{> footer }}
    </body>
</html>