<!DOCTYPE html>
<html lang="en-US" prefix="dcterms: http://purl.org/dc/terms/">
    <head>
        <meta charset="UTF-8">
        <meta property="dcterms.modified" content="{{timestamp}}">
        <title>James Benner: CV</title>
        <link rel="canonical" href="http://jamesbenner.com/">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="main.css">
        {{> vcard-jsonld }}
    </head>
    <body>
        {{{content}}}
        {{> footer }}
    </body>
</html>