<!DOCTYPE html>
<html lang="en-US" prefix="dcterms: http://purl.org/dc/terms/">
    <head>
        <meta charset="UTF-8">
        <meta name="author" property="dcterms:rightsHolder" content="{{author}}">
        <meta property="dcterms:modified" content="{{timestamp}}">
        <title>James Benner: CV</title>
        <link rel="canonical" href="http://jamesbenner.com/">
        {{!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">--}}
        <link rel="stylesheet" href="main.css">
        {{> vcard-jsonld }}
    </head>
    <body>
        {{{content}}}
        {{> footer }}
    </body>
</html>