<!DOCTYPE html>
<html lang="en-US" prefix="dc: http://purl.org/dc/elements/1.1/ dcterms: http://purl.org/dc/terms/">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="author" content="{{author}}">
        <meta property="dcterms:modified" content="{{timestamp}}">
        <title>James Benner: CV</title>
        <link rel="canonical" href="http://{{cname}}/">
        <link rel="stylesheet" href="main.css">
        {{> vcard-jsonld }}
    </head>
    <body>
        {{{content}}}
        {{> footer }}
    </body>
</html>
