<article vocab="http://microformats.org/wiki/h-resume" class="h-resume" id="james-benner-resume">
    <div class="p-contact h-card" id="james-benner-vcard">
        <h1>
            <span class="p-given-name">James</span>
            <br>
            <span class="p-family-name">Benner</span>
        </h1>
        <span class="p-adr h-adr">
            <span class="p-street-address">1365 Bryson Rd.</span>
            <br>
            <span class="p-locality">Columbus</span>, <span class="p-region"><abbr title="Ohio">OH</abbr></span> <span class="p-postal-code">43224</span>
        </span>
        <br>
        <a class="p-tel" href="tel:+1-614-707-3596">614.707.3596</a>
        <br>
        <a class="u-email" href="mailto:james.benner@gmail.com">james.benner@gmail.com</a>
        <br>
        <a class="u-url" rel="me" href="http://{{cname}}/">http://{{cname}}</a>
    </div>

    <section id="summary" class="p-summary">
        <h2>Summary</h2>
        I am a web & HTTP specialist, computer scientist, programmer, open
        source advocate, and geek who is constantly researching and implementing
        new tech and methodologies. I thrive on learning,
        <span class="p-skill">research</span>,
        creating great web apps, streamlining
        <span class="p-skill">UX</span>,
        automating processes and solving problems.
        I specialize in
        <span class="p-skill">C</span>,
        <span class="p-skill">CSS</span>,
        <span class="p-skill">HTML</span>,
        <span class="p-skill">JavaScript</span>,
        <span class="p-skill">Less</span>,
        <span class="p-skill">Node.js</span>,
        <span class="p-skill">PHP</span> and
        <span class="p-skill">Stylus</span>,
        and am a practitioner of
        <span class="p-skill">Ansible</span>,
        <span class="p-skill">C++</span>,
        <span class="p-skill">C#</span>,
        <span class="p-skill">Docker</span>,
        <span class="p-skill">Go</span>,
        <span class="p-skill">Python</span>,
        <span class="p-skill">Ruby</span>,
        <span class="p-skill">Rust</span> and
        <span class="p-skill">Vagrant</span>.
    </section>

    <section id="experience">
        <h2>Experience</h2>

        <section class="p-experience h-card h-event">
            <ul class="job">
                <li class="p-name p-organization-name">
                    <h3>IGC Software</h3>
                </li>
                <li class="p-job-title">
                    <h4>Lead Product Developer</h4>
                </li>
                <li property="dcterms:temporal" typeof="dcterms:PeriodOfTime">
                    <time property="dc:date" class="dt-start" datetime="2015-07">July 2015</time>
                    <time property="dc:date" class="dt-end" datetime="2016-01">January 2016</time>
                </li>
            </ul>
            <ul>
                <li class="p-summary">Responsible for DevOps duties including managing & provisioning servers, software deployment and development.</li>
                <li class="p-summary">Built upon the fork of an open source <abbr title="Customer Relationship Management">CRM</abbr> while maintaining upstream compatibility.</li>
                <li class="p-summary">Acted as a mentor for junior developers.</li>
                <li class="p-summary">Implemented multiple facets of <a href="http://12factor.net/">The Twelve-Factor App</a>.</li>
            </ul>
        </section>

        <section class="p-experience h-card h-event">
            <ul class="job">
                <li class="p-name p-organization-name">
                    <h3>Sage Sustainable Electronics</h3>
                </li>
                <li class="p-job-title">
                    <h4>Software Engineer</h4>
                </li>
                <li property="dcterms:temporal" typeof="dcterms:PeriodOfTime">
                    <time property="dc:date" class="dt-start" datetime="2014-10">October 2014</time>
                    <time property="dc:date" class="dt-end" datetime="2015-02">February 2015</time>
                </li>
            </ul>
            <ul>
                <li class="p-summary">Rewrote a core legacy program and reduced memory consumption from <abbr title="6 × 10⁹ bytes">6GB</abbr>+ to less than <abbr title="1 × 10⁶ bytes">1MB</abbr>.</li>
                <li class="p-summary">Refactored a large legacy codebase and applied <abbr title="Single responsibility, Open-closed, Liskov substitution, Interface segregation and Dependency inversion">SOLID</abbr> and <abbr title="Separation of Concerns">SoC</abbr> principles while doubling performance and reducing code complexity.</li>
                <li class="p-summary">Architected a system that processed gigabytes of auction information from <a href="http://www.ebay.com/">eBay</a> to perform data science and <abbr title="Natural Language Processing">NLP</abbr> analysis.
            </ul>
        </section>

        <section class="p-experience h-card h-event">
            <ul class="job">
                <li class="p-name p-organization-name">
                    <h3>Arrow Electronics</h3>
                </li>
                <li class="p-job-title">
                    <h4>Application Engineer</h4>
                </li>
                <li property="dcterms:temporal" typeof="dcterms:PeriodOfTime">
                    <time property="dc:date" class="dt-start" datetime="2001-12">December 2001</time>
                    <time property="dc:date" class="dt-end" datetime="2014-09">September 2014</time>
                </li>
            </ul>
            <ul>
                <li class="p-summary">Developed an image deployment system, system backup, and restore utility that powered the nation's largest <a href="http://www.microsoft.com/refurbishedpcs/MAR.aspx">Microsoft Authorized Refurbisher</a> as well as the <a href="http://everyoneon.org/about/c2c/">Connect2Compete</a> initiative with the <a href="https://www.fcc.gov/">FCC</a>. The aforementioned system resulted in less imaging issues and <abbr title="Return Merchandise Authorization">RMA</abbr>s as well as being faster than our prior solution.</li>
                <li class="p-summary">Worked my way through the positions of Technician, Lead Technician, Asset Disposition Coordinator, and Software Configuration Management Technician prior to my formal engineer position.</li>
            </ul>
        </section>
    </section>

    <section id="references">
        <h2>References</h2>
        <aside>References available upon request.</aside>
    </section>
</article>
