{{!!<article>}}
    <span class="h-card vcard" id="james-benner-vcard">
        <h1 class="p-name fn">James<br>Benner</h1>
        <span class="p-adr h-adr adr">
            <span class="p-street-address street-address">1365 Bryson Rd.</span>
            <br>
            <span class="p-locality locality">Columbus</span>,
            <span class="p-region region"><abbr title="Ohio">OH</abbr></span>
            <span class="p-postal-code postal-code">43224</span>
        </span>
        <br>
        <a href="tel:+1-614-707-3596" class="p-tel tel">614.707.3596</a>
        <br>
        <a href="mailto:james.benner@gmail.com" class="u-email email">james.benner@gmail.com</a>
    </span>
{{!</article>}}