<main>
    <section>
        <a class="h-card" rel="me" href="http://{{cname}}/">
            <h1 id="name">James Benner</h1>
        </a>
        <h2>Developer, Computer Scientist, Researcher, and Geek.</h2>
        <ul class="links">
            <li>
                <a class="u-url" rel="me" href="http://github.com/jbenner-radham/">
                    <i class="github icon" role="presentation"></i> Code
                </a>
            <li>
                <a href="http://registry.jsonresume.org/james-benner">
                    <i class="resume icon" role="presentation"></i> Résumé
                </a>
            <li>
                <a class="u-email" href="mailto:james.benner@gmail.com">
                    <i class="envelope icon" role="presentation"></i> Email
                </a>
            <li>
                <a class="u-url" rel="me" href="https://medium.com/@james.benner">
                    <i class="medium icon" role="presentation"></i> Writing
                </a>
        </ul>
    </section>
</main>