<style>
    main {
        width: 100%;
    }

    main.h-card h1 {
        color: #2b2b2b;
        font-size: 11rem;
        text-transform: uppercase;
        font-weight: 800;
        /*background: yellow;*/
        margin-bottom: .2em;
    }

    main.h-card li.p-category {
        color: #555;
        display: inline;
        font-size: 4rem;
        font-weight: 500;
    }

    main.h-card > p {
        color: #777;
        font-size: 3.8em;
        text-align: right;
    }

    ul {
        /*float: right;*/
        list-style: none;
        margin-left: auto;
        /*margin-right: 0;*/
        width: 100%;
    }

    ul:after {
        /*clear: right;*/
    }

    ul > li {
        /*margin-left: 0;*/
        /*padding-left: 0;*/
    }

    li + li:before {
        color: #ccc;
        /*content: ">";*/
        content: '|';
    }

    footer {
        margin-top: 5em;
    }
</style>

<main class="h-card">
    <h1 class="p-name">James Benner</h1>
    <p>
        <span class="p-category">Research</span>,
        <span class="p-category">Code</span> and
        <span class="p-category">Energy Drinks</span>
    </p>
</main>

    <h2>Lorem Ipsum Dolor Sit Amet</h2>
    <p>
        Consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum
        mauris. Maecenas congue ligula ac quam viverra nec consectetur ante
        hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas
        mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem
        lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non
        tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
        ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id
        dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur
        dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet.
        Ut convallis libero in urna ultrices accumsan. Donec sed odio eros.
        Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem
        facilisis semper ac in est.
    </p>
