footer
    //border-top: 1px dashed #ddd
    font-size: 0.8rem
    //margin-top: 5rem
    //width: 100%

    position: absolute
    bottom: 0px

    img[alt='Creative Commons License']
        border-width: 0
