.h-card

    h1
        font-size: 11rem
        text-transform: uppercase
        font-weight: 800
        margin-top: 0.2rem
        margin-bottom: 0.2rem

    > p
        color: #777
        font-size: 3.8em
        margin-top: 0.2rem
        margin-bottom: 2rem
        text-align: right

    .p-category
        color: #555
        //display: inline
        font-size: 4rem
        font-weight: 500
