@require '../../../node_modules/normalize.css/normalize.css'
@require '../../../node_modules/kouto-swiss'

@require vars
@require h-card
@require footer

body
    font-family font-stack('Helvetica')
    padding-left: horizontal-margin
    padding-right: horizontal-margin
