.h-resume {
    border: thin solid @silver;
    border-radius: 1rem;
    margin: 3rem;
    padding: 3rem;

    h4 {
        margin: 0.25rem 0;
    }

    ul.job {
        display: inline;
        list-style: none;
    }

    [typeof="dcterms:PeriodOfTime"] {
        font-style: italic;

        & > .dt-start::after {
            content: ' —'; // <-- <SP><Em Dash>
        }
    }

    #experience {
        h2 {
            margin-bottom: 0;
        }

        .p-experience {
            h3 {
                margin: 0;
            }

            ul {
                list-style-position: outside;
            }
        }
    }

    #references {
        aside {
            font-style: italic;
        }
    }
}
