/* [RESET/NORMALIZE] */

/*
 * Set box-sizing.
 *
 * Reference:
 *  - https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 *  - https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /*
   * Set the font.
   *
   * Reference:
   *  - https://modernfontstacks.com/
   */
  font-family: system-ui, sans-serif;
  font-weight: normal;

  /*
   * Set accessible line-height.
   *
   * Reference:
   *  - https://www.joshwcomeau.com/css/custom-css-reset/
   *  - https://www.w3.org/WAI/WCAG21/Understanding/text-spacing.html
   */
  line-height: 1.5;

  /*
   * Prevent adjustment of font size after orientation changes on iOS.
   *
   * Reference:
   *  - https://github.com/necolas/normalize.css/blob/master/normalize.css
   *  - https://github.com/sindresorhus/modern-normalize/blob/main/modern-normalize.css
   *  - https://github.com/twbs/bootstrap/blob/main/dist/css/bootstrap-reboot.css
   */
  -webkit-text-size-adjust: 100%;
}

/*
 * Set text wrapping.
 *
 * Reference:
 *  - https://developer.mozilla.org/en-US/docs/Web/CSS/text-wrap
 *  - https://www.joshwcomeau.com/css/custom-css-reset/
 */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Set the line-height for headings (can be smaller than the recommended 1.5 for content.) */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
}

/*
 * Normalize the font size for small text.
 */
small {
  font-size: 80%;
}

/* [LINKS.CSS <https://github.com/mrmrs/links>] */

a {
  transition: color .4s;
  color: #265c83;

  &:link, &:visited {
    color: #265c83;
  }

  &:hover {
    color: #7fdbff;
  }

  a:active  {
    transition: color .3s;
    color: #007be6;
  }
}

/* [SITE SPECIFIC] */

:root {
  --black: #111111;
  --gray: #aaaaaa;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: .75rem;
}

footer {
  margin-top: 1.5rem;
}

h1 {
  color: var(--black);
  font-size: 8rem;
  line-height: 100%;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

a[rel="me"] {
  text-decoration: none;
}

h2 {
  color: var(--gray);
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 1rem;
  text-align: center;
  font-style: italic;
}

ul.links {
  list-style-position: outside;
  list-style-type: none;
  padding-left: 0;
  text-align: center;

  & i {
    color: var(--gray);
  }

  & > li {
    display: inline;
    font-size: 2.5rem;
    margin: .5rem;

    & > a {
      line-height: 125%;
      text-decoration: none;
      white-space: nowrap;
    }
  }
}

.h-card[rel="me"] {
  color: #333;
  text-decoration: none;
}

@media all and (max-width: 414px) {
  h1#name {
    font-size: 5rem;
  }

  h2 {
    font-size: 1.85rem;
  }

  ul.links > li {
    font-size: 1.75rem;
  }
}
