@node-modules: '../../node_modules';

@import (less) '@{node-modules}/semantic-style/dist/main.css';
@import (reference) '@{node-modules}/colors.css/less/colors';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import '_h-resume';
@import '_footer';

body {
    margin: 1.5rem;
    line-height: 1.25;
    font-family: 'Roboto', sans-serif;
    text-justify: newspaper;
}

hr {
    margin: 2.5rem 0;
    border: thin solid @silver;
}

h1 {
    color: @aqua;
    font-size: 5rem;
    line-height: 4.2rem;
}

h2 {
    color: @blue;
}

h3 {
    color: @gray;
}
